
@{
    ViewData["Title"] = "Contacto";
}

<h1>Formulario de contacto</h1>

<form asp-controller="Home" asp-action="Contacto">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Fulano de tal">
        <label for="nombre">Nombre:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" name="email" placeholder="example@example.com">
        <label for="email">Email:</label>
    </div>
    <div class="form-floating mb-3">
        <div class="form-floating">
            <textarea rows="3"  class="form-control" placeholder="Dejame un mensaje" name="mensaje" id="mensaje"></textarea>
            <label for="mensaje">Mensaje:</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>