
@{
    ViewData["Title"] = "Gracias!";
}


<h1 class="text-center">Gracias por ponerte en contacto conmigo</h1>
<figure class="w-100 ">
    <img src="~/imagenes/gracias.png" alt="imagen de perrito dando las gracias" class=" w-25 mx-auto d-block" />
</figure>
<p class="text-center">Te Contestaré el mensaje lo más pronto posible.</p>
<div class="w-full d-flex justify-content-center">
    <a asp-action="Index" asp-controller="Home" class="btn btn-info mx-auto d-inline-block">Volver al home</a>
</div>
